body{
    background: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div{
    border: 3px solid rgba(0,0,0,0.6);
    height: 450px;
    width: 100px;
}

.container{
   border: 5px solid rgba(0,0,0,0.6);
   box-shadow: 10px 40px 20px rgba(300,500,80,0.6);
   width: 80%;
   height: 400px;
    display: flex;
   flex-direction: column;
   align-items: center;
    justify-content: center;
    background: rgba(265, 265, 265, 0.6);
}
titulo{
color: red;
}

.circle{
border: 10px solid rgba(255,100,400,0.6);
color: darkred;
border-radius: 50%;
height: 100px;
}

